@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

.header .navigation .search .adminname{
    position: absolute;
    left: 45%;
}
.header .navigation .txts{
    color: #F7E1AE;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.admname{
    position: absolute;
    color:hsl(165, 77%, 17%);
    text-transform: uppercase;
    left: 1278px;
    top: 29px;
    size: 20px;
    text-decoration:none;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: white;
    z-index: 4;
    transition: 0.25s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}

.logo {
    color: hsl(32, 24%, 14%);;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
  }
  .logo .span {
    display: inline-block;
    color: hsl(38, 100%, 50%);
  }
  .navigation {
    
    position: relative;
    display: grid;
    padding: 15px 10px;
    height: 70px;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, hsl(0, 2%, 90%), hsl(0, 0%, 80%));
    /*background: rgb(235, 199, 236);
    background: radial-gradient(circle, rgba(235, 199, 236, 1) 0%, rgba(255, 146, 252, 1) 50%, rgba(182, 24, 255, 1) 82%, rgba(204, 7, 237, 1) 100%);*/
}

.logo h2 {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.search {
    display: grid;
    align-items: center;
}

.search input {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(231, 236, 240);
}

.users {
    /* display: grid; */
    grid-template-columns: 30px 30px;
    position: absolute;
    left: 1220px;

    /* align-items:start; */
    /* justify-content: center; */
}

.users i {
    font-size: 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #e65b00;
}

.users .fa-bell {
    color: black;
    height: 25px;
    width: 25px;
    transform: rotate(15deg);
}

.users  .fa-user{
    color: #e65b00;
    background-color: rgb(222, 232, 222);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.dropdown{
    background: linear-gradient(90deg, hsl(165, 77%, 17%), hsla(165, 77%, 17%, 0.6));
    border-radius: 50%;
    height: 40px;
    width: 35px;
    padding: 30%;
    border: none;
    cursor: pointer;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:  rgba(235, 199, 236, 1);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .sidebar {
    display: flex;
    width: 250px;
    background: linear-gradient(90deg, hsl(165, 77%, 15%), hsl(0, 0%, 80%));
    /*background: radial-gradient(circle, rgba(235, 199, 236, 1) 0%, rgba(255, 146, 252, 1) 50%, rgba(182, 24, 255, 1) 82%, rgba(204, 7, 237, 1) 100%);*/
    padding: 15px 0;
    display: inline-block;
    transition: all 0.2s;
    height: 100vh; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #E3B448, #CBD18F);
    
  }

  .sidebar i {
    text-align: center;
    width: 20px;
    margin-right: 15px;
    color: black;
}

.sidebar li{
    padding: 7px 0;
    cursor: pointer;
    list-style: none;
    padding-left: 25px;

}
.sidebar li a {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.sidebar li:hover a,
.sidebar li:hover,
.sidebar li:hover i {
    color: #e65b00;
    background-color: #fff;
}


button{
    display: inline-flex;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: hsl(165, 77%, 15%);
    color: white;
    flex-direction: column;
}

button a{
    text-decoration: none;
    color: white;
}
button:is(:hover, :focus){
    background-color: #EE4E34;
    color: black;
}

button a:is(:hover, :focus){
    color: black;
}
.btn{
    position: absolute;
    top: 6rem;
}
.container .table{
    width: 100%;
    margin-left: 0.5%;
    margin-right: auto;
    margin-top: 8rem;
    text-align: center; 
}

.container .table td,th{
    border: 1px solid #ddd;
    padding: 8px; 
}

.container.table .td{
    color: black;
}
.container .table tr{background-color: #ddd;}

.container .table tr:hover {background-color: #FCF6F5FF;}

.container .table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3A6B35;
  color: white;
}